/*
 * Empty Stylesheet file.
 */

#sidebar{
    -fx-background-color: rgb(85,172,238);
    
}

.sidebar-label {
    -fx-text-fill: rgb(255,255,255);
    -fx-font-size: 20px;
}


.sidebar-hbox:hover{
    -fx-background-radius: 20;
    -fx-background-color: rgb(90,172,300);
}

.header {
    -fx-font-size: 22px;
}

.tweet-btn{
    -fx-text-fill: white;
    -fx-background-color: rgb(85,172,238);
    -fx-background-radius: 15;
}

.tweet-btn:pressed {
    -fx-background-color: fuchsia;
}

#convos-list:even{
    -fx-background-color: white;
}

#convos-list:odd{
    -fx-background-color: white;
}

#follow-btn{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill:  rgb(85,172,238);
    -fx-border-color: rgb(85,172,238);
    -fx-border-radius: 10;
}

#follow-btn:hover{
    -fx-background-color: rgb(237,237,237);
}